/* Colors:
Lavender Pink #ffb2e6
Helotrope #d972ff
VeronicaBlue #8447ff */

/* more colors:
french gray: # b8b8d1
ultra violet: #5b5f97
lighter violet: #787BAD
yellow xanthous #ffc145 */


/* GENERAL */ /* GENERAL */ /* GENERAL */ /* GENERAL */

.red{
  color: red;
}

.username-show{
  color: #fe9c01;
  font-size: 18px;
  font-weight: bold;
}


/* MODAL */  /* MODAL */  /* MODAL */  /* MODAL */  /* MODAL */

.modal-content {
    width: auto;
    height: auto;
    min-width: 500px;
    min-height: 500px;
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fe9c01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .modal-content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  .modal-button{
    display: block;
    margin: 20px auto;
  }

  .modal-content img {
    width: 150px;
    transition: transform 0.3s ease-in-out;
  }
  
  .modal-content img:hover {
    transform: scale(6);
  }


  /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */ /* NAVBAR */


.navbar {
    background-color: #fe9c01;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  
  .logo {
    margin-right: 2rem;
    width: 100px;
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .button {
    margin-right: 1rem;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }



/* TABLE */ /* TABLE */ /* TABLE */ /* TABLE */ /* TABLE */ /* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #787BAD;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #5b5f97;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #5b5f97;
  }
  
  tr:hover {
    background-color: #e6e6e6;
    color: black;
  }


  /* UPLOADBAR */ /* UPLOADBAR */ /* UPLOADBAR */ /* UPLOADBAR */ /* UPLOADBAR */

.uploadbar {
    background-color: #fe9c01;
  }
  
  .uploadbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  

/* TABBAR */ /* TABBAR */ /* TABBAR */ /* TABBAR */ /* TABBAR */ /* TABBAR */


.tabbar {
  background-color: #787BAD;
  height: 70px;
}

.tabbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
}

.left-section{
  display: flex;
  align-items: left;
  justify-content: left;
  flex: 1;
}

.middle-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.right-section {
  display: flex;
  align-items: right;
  justify-content: right;
  flex: 1;
}

.tabbar-container p:not(:last-child) {
  margin-right: 1rem;
}

.middle-section p {
  text-align: center;
}

.tabbar-container button:not(:last-child) {
  margin-right: 10px;
}


/* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ /* HOMEPAGE */ 

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ /* FOOTER */ 

.footer {
  background-color: #787BAD;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.footer p {
  margin-right: 20px;
}


